inventory,reload command ,ssh down,ssh up
{% for host in ansible_play_hosts -%}
{% set inventory=host %}
{% set cmd=hostvars[host].cmd_date|d('') %}
{% set down=hostvars[host].ssh_down_date|d('') %}
{% set up=hostvars[host].ssh_up_date|d('') %}
{{ inventory }},{{ cmd }},{{ down }},{{ up }}
{% endfor %}
